<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page0</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-11-18T03:20:41Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>D2AFB00E-3F58-412F-9B81-877DE1163292</string>
			<key>PageDigests</key>
			<dict>
				<key>files/page0-1000-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Juo+FzmCj8chAVSw81BcaQ==
					</data>
					<key>Size</key>
					<integer>1746</integer>
				</dict>
				<key>files/page0-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2foTlkRNEFdorv1NTMtPMg==
					</data>
					<key>Size</key>
					<integer>24313</integer>
				</dict>
				<key>files/page0-1000-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/6WomoclMkp5yu788qHqIg==
					</data>
					<key>Size</key>
					<integer>4180</integer>
				</dict>
				<key>files/page0-1001-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					/VW3uFx8huo7Ti/aPi0bXw==
					</data>
					<key>Size</key>
					<integer>1792</integer>
				</dict>
				<key>files/page0-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					h5PraZ5CUPeYZGrCQ8vNkw==
					</data>
					<key>Size</key>
					<integer>28256</integer>
				</dict>
				<key>files/page0-1001-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					r10t4NTQK75zrNkqXRU/3w==
					</data>
					<key>Size</key>
					<integer>5744</integer>
				</dict>
				<key>files/page0-1002-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					GJv634G9yFG6J9dvWIxl+A==
					</data>
					<key>Size</key>
					<integer>1792</integer>
				</dict>
				<key>files/page0-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4ov9glscpYaddDORomf37Q==
					</data>
					<key>Size</key>
					<integer>30734</integer>
				</dict>
				<key>files/page0-1002-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					xmgv0b92RGPZYCVQXoDK2g==
					</data>
					<key>Size</key>
					<integer>7113</integer>
				</dict>
				<key>files/page0-1003-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					JUHksb2pMQIaQLHCePtqeA==
					</data>
					<key>Size</key>
					<integer>1823</integer>
				</dict>
				<key>files/page0-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					p/A8j9YBBjdUxXYoZ7INGw==
					</data>
					<key>Size</key>
					<integer>66232</integer>
				</dict>
				<key>files/page0-1003-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					m6R1OCcGt1uaR3p1/54N5w==
					</data>
					<key>Size</key>
					<integer>7371</integer>
				</dict>
				<key>files/page0-1004-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					+2YRJFvEzi9YsdOShJOvuw==
					</data>
					<key>Size</key>
					<integer>1832</integer>
				</dict>
				<key>files/page0-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					pWn8lyon1VWuHYT+OfwA9A==
					</data>
					<key>Size</key>
					<integer>99905</integer>
				</dict>
				<key>files/page0-1004-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					HBSuIVTz9KLJvtUiga1Adw==
					</data>
					<key>Size</key>
					<integer>10202</integer>
				</dict>
				<key>files/page0-1005-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					piXUBtUzmuenPOcIgJUXcA==
					</data>
					<key>Size</key>
					<integer>1811</integer>
				</dict>
				<key>files/page0-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8GtCk9He3db4JpmUIJbYtw==
					</data>
					<key>Size</key>
					<integer>25280</integer>
				</dict>
				<key>files/page0-1005-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					1hqeK3FReRu4NdM/0ohiSA==
					</data>
					<key>Size</key>
					<integer>4754</integer>
				</dict>
				<key>files/page0-1006-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					Z/6Ez2WB2G8U8lq7eqqM7A==
					</data>
					<key>Size</key>
					<integer>1789</integer>
				</dict>
				<key>files/page0-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					SAJyp1eMk8OGGteojiD53Q==
					</data>
					<key>Size</key>
					<integer>24608</integer>
				</dict>
				<key>files/page0-1006-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					tEs7bR8oxMDrW5eRxGGocA==
					</data>
					<key>Size</key>
					<integer>4720</integer>
				</dict>
				<key>files/page0-1007-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					o8iIUPYxeE7CHMDItPQOLQ==
					</data>
					<key>Size</key>
					<integer>1803</integer>
				</dict>
				<key>files/page0-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YFO7Tob86Shv9WTDt7zOxQ==
					</data>
					<key>Size</key>
					<integer>23697</integer>
				</dict>
				<key>files/page0-1007-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					47C8Sy70OBK1Y9KM+WMWNA==
					</data>
					<key>Size</key>
					<integer>3910</integer>
				</dict>
				<key>files/page0-1008-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					yaXUekAcFEE4rTfgkTAahg==
					</data>
					<key>Size</key>
					<integer>1784</integer>
				</dict>
				<key>files/page0-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4qOftWKclMm+oCWyIY6tRg==
					</data>
					<key>Size</key>
					<integer>26975</integer>
				</dict>
				<key>files/page0-1008-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					OTtlptlHu27ZHwLwtAmgUQ==
					</data>
					<key>Size</key>
					<integer>5394</integer>
				</dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					S1h+GXPm5LOCGKOpwtjVdQ==
					</data>
					<key>Size</key>
					<integer>7986</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page0</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
