<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:alpha</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-11-18T03:20:41Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>D2AFB00E-3F58-412F-9B81-877DE1163292</string>
			<key>PageDigests</key>
			<dict>
				<key>colourtag-page2.css</key>
				<dict>
					<key>Digest</key>
					<data>
					zpweDKZiKxNB3iZ9genaXA==
					</data>
					<key>Size</key>
					<integer>1601</integer>
				</dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					QLUZUff4SC8BsFsDK9gWcA==
					</data>
					<key>Size</key>
					<integer>96</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					bhbHykuXzCYmD6Hxg09PKQ==
					</data>
					<key>Size</key>
					<integer>144</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					pOuqHQ0wJ98wOkkL4cIbhQ==
					</data>
					<key>Size</key>
					<integer>238</integer>
				</dict>
				<key>css/width/1000.css</key>
				<dict>
					<key>Digest</key>
					<data>
					SPPv2JkgjDMyKVyKRGAC/g==
					</data>
					<key>Size</key>
					<integer>130</integer>
				</dict>
				<key>css/width/600.css</key>
				<dict>
					<key>Digest</key>
					<data>
					u40dgB+GJ8B8GUVIDKSdJQ==
					</data>
					<key>Size</key>
					<integer>128</integer>
				</dict>
				<key>css/width/700.css</key>
				<dict>
					<key>Digest</key>
					<data>
					vx33HmMNzL8YOFByuzXRcg==
					</data>
					<key>Size</key>
					<integer>128</integer>
				</dict>
				<key>css/width/800.css</key>
				<dict>
					<key>Digest</key>
					<data>
					OqO6oUtwiftBfZlnqtF60g==
					</data>
					<key>Size</key>
					<integer>128</integer>
				</dict>
				<key>css/width/900.css</key>
				<dict>
					<key>Digest</key>
					<data>
					93YSWXQEhV8pnJ1MUou5PA==
					</data>
					<key>Size</key>
					<integer>128</integer>
				</dict>
				<key>css/width/variable.css</key>
				<dict>
					<key>Digest</key>
					<data>
					QnxICoZeW9mYzolLhlky8A==
					</data>
					<key>Size</key>
					<integer>125</integer>
				</dict>
				<key>csshover.htc</key>
				<dict>
					<key>Digest</key>
					<data>
					3PlhR0K8SPXNBkFVAY67hA==
					</data>
					<key>Size</key>
					<integer>4236</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>ie6.css</key>
				<dict>
					<key>Digest</key>
					<data>
					8JKKAq1/Zr9QmNuH+zgT8A==
					</data>
					<key>Size</key>
					<integer>156</integer>
				</dict>
				<key>images/body_grad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					V62dWRq8I1ThsoiN5UsevQ==
					</data>
					<key>Size</key>
					<integer>15266</integer>
				</dict>
				<key>images/category.png</key>
				<dict>
					<key>Digest</key>
					<data>
					+kx7nrsnzTUbVbp5fupXFQ==
					</data>
					<key>Size</key>
					<integer>331</integer>
				</dict>
				<key>images/clock.png</key>
				<dict>
					<key>Digest</key>
					<data>
					0Kg+3GFLidh1JMLHVaH0Xw==
					</data>
					<key>Size</key>
					<integer>408</integer>
				</dict>
				<key>images/comments.png</key>
				<dict>
					<key>Digest</key>
					<data>
					HayVh33P8v99zOctuL7q4g==
					</data>
					<key>Size</key>
					<integer>399</integer>
				</dict>
				<key>images/content_top_grad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					YRvJAl+eiubWY3tOHg7Gzw==
					</data>
					<key>Size</key>
					<integer>3818</integer>
				</dict>
				<key>images/header_top2_grad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					LLsAxLYh4yzcI8oLTR8z4g==
					</data>
					<key>Size</key>
					<integer>1273</integer>
				</dict>
				<key>images/header_top_grad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					1pd5V9/XwVHQSDtHotifBg==
					</data>
					<key>Size</key>
					<integer>2196</integer>
				</dict>
				<key>images/permalink.png</key>
				<dict>
					<key>Digest</key>
					<data>
					wRkXKFo1TvogFpFoyHPc7Q==
					</data>
					<key>Size</key>
					<integer>320</integer>
				</dict>
				<key>images/rss_icon.png</key>
				<dict>
					<key>Digest</key>
					<data>
					ru9ucG8WBOGLyYO4AfY4XA==
					</data>
					<key>Size</key>
					<integer>497</integer>
				</dict>
				<key>images/trackback.png</key>
				<dict>
					<key>Digest</key>
					<data>
					C4jJ9nltXoUmgv3oLD2rRQ==
					</data>
					<key>Size</key>
					<integer>333</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>png/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VjmOdr5jVa1ZmbJiIIoXyQ==
					</data>
					<key>Size</key>
					<integer>49</integer>
				</dict>
				<key>png/pngbehavior.htc</key>
				<dict>
					<key>Digest</key>
					<data>
					mJQ2Vl45EOalgIlTtCq+yw==
					</data>
					<key>Size</key>
					<integer>2029</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					iezQ8899+O5jnHKzWNWPWg==
					</data>
					<key>Size</key>
					<integer>3818</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					bci+TXydgwp8pn81oUNHQQ==
					</data>
					<key>Size</key>
					<integer>14172</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:alpha</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
